<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav  class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="sidetabcolor" >Coding Ninja</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['add-user']" class="sidetabcolor" >Home</a>
      <a mat-list-item [routerLink]="['view:/userId']" class="sidetabcolor">About</a>
      <a mat-list-item [routerLink]="['delete:/userId']" class="sidetabcolor">PortFolio</a>
      <a mat-list-item [routerLink]="['view:/userId']"class="sidetabcolor">Works</a>
      <a mat-list-item [routerLink]="['delete:/userId']"class="sidetabcolor" >Contact</a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary">
      <span>Dashboard</span> 
    </mat-toolbar> -->
    <ng-content >

    </ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
